*{
	outline: none;
}
html{
	font-size: 625%;
}
 body {
 	font-size: .14rem;
 	color: #333;
 	font-family: normal normal normal normal 16px / normal Arial, Helvetica, sans-serif;
 	}
html,body{
	height: 100%;
	width: 100%;
	overflow: hidden;
}
 body,html,h1,p,ul,h2,h3{
 	margin: 0;
 	padding: 0;
 }
 ul{
 	list-style: none;
 }
 div,section,article,header,footer{
 	box-sizing: border-box;
 }
 input {
 	text-indent: 0;
 	background: transparent;
 	border: 0 none;
 	resize: none;
 	outline: none;
 	/*清除选中效果的默认蓝色边框 */
 	-webkit-appearance: none;
 	/*清除浏览器默认的样式 */
 	line-height: normal; //光标问题 
 }
 
 input::-webkit-input-placeholder {
 	/* WebKit browsers */
 	line-height: 0.44rem; //placeholder
 }
 
 input:focus {
 	color: #8b8791;
 }
 .cancel-scroll-bar{
 	margin-right: -20px;
	padding-right: 20px;
	-webkit-overflow-scrolling: touch;
 }
 ::-webkit-scrollbar{ display: none }
 #app{
 	height: 100%;
 	overflow: hidden;
 }
 .main{
 	height: 100%;
 }
 .main .content, .main .mint-tab-container, .main .mint-tab-container-wrap,.main .mint-tab-container-item{
 	height: 100%;
 }
 #app .mint-tabbar{
	position: fixed;
	z-index: 1;
}
.mint-header{
	font-size: .20rem;
	background-color: white;
	color: #333;
}
.padding40{
	padding:.4rem 0 .95rem 0;
	height: 100%;
}
.mint-header-button{
	font-size: .16rem;
}
.mint-button-text,.mint-button-icon{
	color: white;
}
.index .mint-header.is-fixed{
	border-bottom: transparent;
}
.mint-header.is-fixed{
	color: white;
	background-color: #E24267;
	border-bottom: .01rem solid lightgray;
}
.mint-header-title{
	font-weight: 600;
}
.mint-indexlist-navitem{
	padding: 2px;
}
.mint-indexlist-nav{
	border-left: none;
}
.index{
	padding: .8rem 0 .55rem 0;
	height: 100%;
}
.sroll-index{
	height: 100%;
	overflow: auto;
}
.index .mint-header{
	font-family: "微软雅黑";
}
.toolbar{
	position: fixed;
	z-index: 1;
	background-color: white;
	top: .4rem;
	height: .4rem;
	width: 100%;
	display: flex;
	background-image: -webkit-linear-gradient(top,#d9d9d9,#d9d9d9 2%,transparent 0);
}
.seat{
	display: inline-flex;
	width: .5rem;
	padding-left: .05rem;
	height: .4rem;
	line-height: .4rem;
	text-align: center;
	position: relative;
}
.seat i{
	position: absolute;
	right: .05rem;
	top: .135rem;
	border-top: .07rem solid lightgray;
	border-left: .07rem solid transparent;
	border-right: .07rem solid transparent;
}
.top-search{
	height: 100%;
	flex: auto;
	box-sizing: border-box;
	padding: .08rem .1rem;
	background: lightgray;
}
.top-search .search-box{
	height: 100%;
	width: 100%;
	position: relative;
	background: white;
	border-radius: .05rem;
	padding-left: .2rem;
	padding-bottom: .02rem;
}
.top-search .search-box i{
	position: absolute;
	left: 0;
	font-size: .12rem;
	padding: .05rem .06rem;
}
.top-search input{
	width: 90%;
	height: 80%;
	border-radius: .05rem;
	border: none;
	outline: none;
}
.mint-search{
	height: 100%;
}
.top-search .mint-searchbar{
	padding: 8px 10px 5px 10px;
}
.top-search .mint-searchbar-inner{
	padding:0 6px ;
}
.mess{
	width: .5rem;
	height: .4rem;
	text-align: center;
	line-height: .4rem;
}
.my-swiper{
	width: 100%;
	height: 1.14rem;
}
/*.slide1{
	background: yellowgreen;
}
.slide2{
	background: lightblue;
}
.slide3{
	background: lightpink;
}*/
.mint-swipe-item img{
	height: 100%;
	width: 100%;
}
.mint-swipe-indicator{
	border: 1px solid white;
	opacity: 1;
	background: transparent;
}
.mint-swipe-indicator.is-active{
	background: white;
}
.listView{
	width: 100%;
	height: 1.49rem;
	display: flex;
	flex-flow: row wrap;
	align-content: flex-start;
	/*background: paleturquoise;*/
}
.listView .listBox{
	box-sizing: border-box;
	height: 50%;
	width: 20%;
	text-align: center;
	padding-top:.1rem ;
}
.nav-list img{
	display: block;
	width: .34rem;
	height: .34rem;
	margin: 0 auto .03rem;
}
.banner{
	height: 1.3rem;
	width: 100%;
	background: lightgoldenrodyellow;
}
.banner img{
	width: 100%;
	height: 100%;
}
.gg{
	display: flex;
	height: 1.3rem;
	width: 100%;
	/*background: lightblue;*/
	padding: .14rem 0 .3rem;
	text-align: center;
}
.gg .gg-item{
	flex: 1;
	padding: 0 .05rem;
	height: 100%;
}
.gg .gg-item .gg-name{
	height: .28rem;
	line-height: .28rem;
}
.gg-img{
	height: 100%;
	border: .01rem solid lightgray;
}
.gg .gg-item img{
	height: 100%;
	width: 100%;
}
.fj{
	padding-bottom: .3rem;
}
.fj-store-item{
	width: 100%;
	display: flex;
	height: 1.1rem;
	line-height: 1.1rem;
	position: relative;
	border: .01rem solid lightgrey;
	margin-bottom: .03rem;
}
.store-img{
	height: 100%;
	width: .9rem;
	padding: .16rem .1rem;
}
.store-img img{
	height: 100%;
	width: 100%;
}
.store-detail{
	flex: auto;
	padding: .2rem 0;
}
.fj .icon{
	position: absolute;
	display: inline-block;
	right: .1rem;
	font-weight: 600;
	font-size: .24rem;
	font-family: "微软雅黑";
}
.store-title{
	height: .2rem;
	width: 100%;
	line-height: .2rem;
}
.store-title span{
	display: inline-block;
	vertical-align: top;
}
.store-title .store-name{
	display: inline-block;
	font-family:"微软雅黑";
	font-weight: 600;
	width:40% ;
	overflow: hidden;
	margin-right:.1rem ;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.index .mint-searchbar-cancel{
	margin-left: 0;
}
.store-title .store-range{
	float: right;
	margin-right: .2rem;
}
.store-mess{
	width: 100%;
	line-height: 1;
	margin-top: .1rem;
	padding-right: .3rem;
}
/* 除去a点击时背景 */
a,a:hover,a:active,a:visited,a:link,a:focus{
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	color: black;
	outline:none;
	background: none;
	text-decoration: none;
}
.mint-tabbar > .mint-tab-item.is-selected{
	color: red;
}
.seat-view{
	padding-top: .8rem;
	height: 100%;
}
.position{
	position: fixed;
	top: .4rem;
	left: 0;
	right: 0;
	color: #2f2f2f;
	font-size: .15rem;
	height: .4rem;
	line-height: .4rem;
	padding-left: .1rem;
	width: 100%;
	z-index: 1;
	background-color: white;
}
.seat-view .mint-indexlist{
	height: 100%;
	overflow: hidden;
}

.mint-indexlist-content{
	height: 100%;
	overflow: auto;
	min-height:100%!important;
	-webkit-overflow-scrolling: touch;
}
.mint-indexlist-nav{
	/*position: fixed;*/
}
.position span{
	color: lightpink;
}
.mint-indexsection-index{
	color: #999;
	box-sizing: border-box;
	height: .3rem;
	background-color: #eee;
}
/*  会员中心*/
.hyzx{
	padding-top: .4rem;
}
.grmes{
	height: 1.2rem;
	line-height: 1.2rem;
	width: 100%;
	display: flex;
	background-color: lightgray;
}
.custom-img{
	height: 100%;
	width: 39%;
	padding: .2rem .3rem .1rem;
	box-sizing: border-box;
}
.custom-img img{
	height: 100%;
	width: 100%;
	border-radius: 50%;
}
.custom-mes{
	flex: auto;
	color: white;
	font-size: .2rem;
	position: relative;
}
.custom-mes .custom-name {
}
.custom-mes i{
	position: absolute;
	right: .2rem;
    font-weight: 600;
    font-size: .2rem;
}
.f-mes,.sc{
	height: 1.2rem;
	width: 100%;
	position: relative;
	display: flex;
	box-sizing: border-box;
	padding-right: .4rem;
	border-bottom: .01rem solid lavender;
}
.f-mes div.f-item,.sc div.sc-item{
	-webkit-flex: 1;
	flex: 1;
	padding: .2rem 0;
	text-align: center;
}
.f-item ul{
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
	justify-content: center;
}
.f-item ul li{
	flex: 1;
	padding-bottom: .03rem;
}
.f-item i{
	font-size: .24rem;
}
.f-mes i.f-mes-more{
	position: absolute;
	right: .16rem;
	font-weight: 600;
	font-size: .36rem;
	line-height: 1.2rem;
}
.sc{
	height: .6rem;
	width: 100%;
	border-bottom: none;
}
.sc div.sc-item{
	padding: .1rem 0;
}
.mint-cell-text{
	padding-left: .1rem;
}
.mint-cell-allow-right::after{
	right: .4rem;
	border-color: black;
}

/*************************************/
.feilei{
	padding-top: .4rem;
}

/*  购物车 */
.mint-checkbox-core{
	width: 16px;
	height: 16px;
}
.mint-checklist .mint-cell{
	min-height: .4rem;
}
.mint-checklist-title{
	margin: 0;
}
.sd{
	border-bottom: .01rem solid lightcyan;
}
.sd-sp-list{
	display: flex;
	height: 100%;
	align-items: center;
}
.sd-sp-list .mint-checkbox-label{
	margin: 0;
	display: block;
	width: 0;
	height: 0;
	overflow: hidden;
}
.sd-checkbox{
	width: 10%;
	border-top:1px solid transparent;
}
.sd-name{
	flex: auto;
	height: 100%;
	display: flex;
	padding: .1rem .2rem;
	font-family: "Microsoft YaHei", SimSun, verdana
}
.sp-detail{
	height: .86rem;
}
.sp-detail:last-child{
	border-bottom: .01rem solid lightgray;
	margin-bottom: .2rem;
}
.sp-conetnt .mint-cell-wrapper{
	background-image: none;
}
.mint-cell{
	margin-top: -.01rem;
	/*border-top: .01rem solid lightgray;*/
	border-bottom: .01rem solid lightgray;
}
.sd-sp-list .mint-cell{
	border: none;
}
.sp-detail .mint-cell-wrapper,
.sd-sp-list .mint-cell-wrapper,
.sp-detail .mint-cell:last-child,
.sd-sp-list .mint-cell:last-child,
.hyzx .mint-cell:last-child,
.seat-view .mint-cell:last-child{
	background-image: none;
}
.sp-conetnt{
	height: 100%;
	overflow: auto;
}
.sp-count{
	position: fixed;
	height: .4rem;
	line-height: .4rem;
	bottom: .55rem;
	left: 0;
	right: 0;
	z-index: 1;
	background-color: white;
	border-top: .01rem solid lightgray;
}
.sp-count .sd-name{
	padding: 0 .1rem;
}
.sp-count .sd-name span{
	width: 10%;
}
.count-mes{
	flex: auto;
	display: flex;
}
.count-mes div{
	flex: 1;
	white-space: nowrap;
}
.oper-count{
	text-align: right;
}
.priceCountNum{
	color: red;
}
.sp-detail-img{
	height: 100%;
    width: .65rem;
}
.sp-mes{
	flex: auto;
	padding-top: .04rem;
}
.sp-size{
	width: 15%;
	text-align: center;
}
.sp-size div{
	padding: .05rem 0;
}
.red-font{
	color: red;
}
/* 我的推荐*/
.recommend{
	padding-top:.4rem ;
}
.self-mes{
	height: 1rem;
	display: flex;
	box-sizing: border-box;
	padding: .13rem 0;
}
.self-mes-item{
	flex: 1;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.self-mes-item div{
	flex: 1;
	width: 100%;
	position: relative;
}
.self-mes-item div i{
	font-size: .16rem;
	color: black;
	margin-left: .05rem;
	font-weight: 600;	
}
.recommend-list{
	
}
.recommend-list-item{
	height: 1rem;
	line-height: 1rem;
	width: 100%;
	display: flex;
	border-bottom: .01rem solid lightgray;
	padding: .02rem;
}
.recommend-list-item .recommnd-img{
	height: 100%;
	width: 22%;
}
.recommend-list-item img{
	height: 100%;
	width: 100%;
}
.recommend-list-item .recommend-mes{
	flex: auto;
	display: flex;
}
.recommend-list-item .recommend-mes div{
	flex: 1;
}
.recommend-list-item .recommend-mes .datetime{
	text-align: center;
}
.recommend-list-item .recommend-mes .recdName{
	padding-left: .3rem;
}
/* 登录界面 */
.login-view{
	padding-top: .4rem;
}
.login-banner{
	height: 1rem;
	margin-top: .05rem;
}
.login-banner img{
	height: 100%;
	width: 100%;
}
.login-view form{
	padding: .05rem;
}
.login-mes{
	height: .6rem;
	line-height: .6rem;
	display: flex;
}
.login-mes .login-label{
	width: 30%;
	text-align: right;
}
.login-mes .login-input{
	flex: auto;
	padding-left: .2rem;
}
.login-mes .login-input input{
	width: 74%;
	height: .28rem;
	padding-left: .1rem;
	border-radius: .04rem;
	box-shadow: none;
	outline: none;
	border: .01rem solid lightgray;
}
.mint-popup-4{
	width: 100%;
}
.height40{
	height: .4rem;
	line-height: .4rem;
	display: flex;
	background-color: lightgray;
	opacity: .6;
}
.height40 div.center{
	flex: auto;
}
.height40 div.type-oper{
	width: .6rem;
	text-align: center;
}
.height40 div.type-oper.success{
	color: deepskyblue;
}
.btn{
	text-align: center;
	padding: .2rem 0;
}
.btn .mint-button{
	padding: 0 .24rem;
}
.other-oper .mint-button,.btn .mint-button{
	background-color: white;
    box-shadow: none;
    border:.01rem solid lightgray;
}
.other-oper .mint-button-text, .other-oper .mint-button-icon,.btn .mint-button-text,.btn .mint-button-icon{
	color: gray;
}
.other-oper{
	margin-top: .3rem;
	padding: .2rem .4rem;
	display: flex;
	text-align: center;
}
.other-oper-item{
	flex: 1;
}
.other-oper-item.re .mint-button{
	padding: 0 .3rem;
}

/* 店铺信息 */
.paddingTop40{
	padding-top: .4rem;
	height: 100%;
	overflow: hidden;
}
.storeImg{
	height: 1rem;
}
.storeImg img{
	height: 100%;
	width:100%;
}
.storeDetail{
	height: .8rem;
	line-height: .8rem;
	display: flex;
	border: 1px solid lightgray;
}
.store-summary{
	width: 20%;
	text-align: right;
}
.summary-mess{
	width: 80%;
	padding:.06rem .1rem;
	line-height: 1;
}
.store-seat{
	padding: .08rem .06rem;
	height: 1rem;
	display: flex;
	box-sizing: border-box;
	border-bottom: 1px solid lightgray;
}
.seat-map,.seat-phone{
	width: 1.4rem;
	height: 100%;
	text-align: center;
	line-height: .7rem;
}
.seat-map i,.seat-phone i{
	font-size: .24rem;
	color: lightsalmon;
}
.seat-phone{
	border-left: 1px solid lightgray;
}
.seat-text{
	flex: auto;
	display: flex;
	padding-right: .05rem;
	flex-direction: column;
}
.seat-text-detail{
	flex: 2;
	line-height: 1.6;
}
.seat-text-detail span{
	padding-left:.08rem ;
}
.distance{
	flex: 1;
}
.store-content{
	height: 100%;
}
.menu{
	margin-top: .1rem;
	flex: auto;
	margin-right: -20px;
	padding-right: 20px;
	overflow: auto;
	border-top: 1px solid lightgray;
}
.menu-list:first-child{
	border: none;
}
.menu-list{
	height: .8rem;
	display: flex;
	position: relative;
	padding: .05rem .08rem;
	border-top: 1px solid lightgray;
}
.menu-img{
	width: 22%;
}
.menu-img img{
	height: 100%;
	width: 100%;
}
.menu-oper{
	position: absolute;
	bottom: .12rem;
	right: .07rem;
}
.menu-oper i,.modal-sp-list i{
	font-size: .16rem;
	font-weight: 600;
	color: #333;
	margin: 0 .04rem;
	padding: .03rem;
	background-color: #FFD161;
	opacity: .8;
	border-radius: 50%;
}
.menu-oper i:last-child,.modal-sp-list i:last-child{
	margin-right: 0;
}
.subtract{
	background-color: white!important;
	border: .01rem solid lightgray;
}
.menu-summary{
	flex: auto;
	padding:0 .5rem .05rem .1rem;
}
.menu-title{
	color: #2f2f2f;
	width: 100%;
	font-size: .14rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.summay{
	color: #a9a9a9;
	font-size: .12rem;
	margin: .03rem 0 0 0;
}
.car-bottom{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: .55rem;
	z-index: 2008;
	background-color: rgba(51,51,51,0.9);
}
.cart{
	background-color: gray;
	height: .5rem;
	color: white;
	float: left;
	line-height: .5rem;
	text-align: center;
	width: .5rem;
	margin-left: .1rem;
	border-radius: 50%;
	font-size: .36rem;
	transform: translateY(-20%);
}
.active{
	background-color: #FFD161;
	color: black;
	position: relative;
}
.active i {
	position: absolute;
	width: .18rem;
	right: .01rem;
	line-height: 1;
	font-size: .18rem;
	font-style: normal;
	background-color: red;
	color: white;
	border-radius: 50%;
	transform: translateY(-10%);
}
.countBtnActive{
	background-color:#FFD161 ;
}
.countBtn{
	float: right;
	font-size: .16rem;
	line-height: .55rem;
	text-align: center;
	width: 30%;
	height: 100%;
}
.select-sp{
	height: 100%;
	float: left;
	padding: .02rem .05rem;
	min-width: 1rem;
}
.count-price{
	color: white;
	font-size: .20rem;
	padding: .03rem 0;
}
.sd-summary{
	color: lightgray;
	font-size: .12rem;
}
.noutActive{
	line-height: .55rem;
	color: lightgray;
}
.ps-price{
	color: lightgray;
}
.sp-list-box{
	max-height: 2.4rem;
	overflow: auto;
	width: 100%;
}
.sp-list{
	bottom: .55rem;
	width: 100%;
	z-index: 10!important;
}
.sp-list header,.sp-list section{
	padding: 0 .1rem;
}
.store .v-modal{
	z-index: 9!important;
}
.gwc-header{
	height: .4rem;
	line-height: .4rem;
	color: #2f2f2f;
	background-color: #F4F4F4;
}
.box-free{
	float: left;
	color: #999;
}
.clear-car{
	float: right;
}
.modal-sp-list{
	height: .6rem;
	position: relative;
}
.modal-sp-oper{
	float: right;
}
.modal-menu-summary{
	float: left;
	color: #444;
	width: 100%;
	height: .35rem;
	line-height: .35rem;
}
.modal-sp-count{
	float: right;
	margin-right: .1rem;
}
.modal-sp-mes{
	color: #999;
	font-size: .12rem;
}
